﻿@model ExtendedReports.UI.Models.DisplayModels.ReportModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var c = Model;
    var d = 0;
}
@section Css{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
}
<div class="row" style="margin-top:25px;">
    <div class="col-md-4">
        <div class="form-group">
            <label for="sel1">Müşteri Seçimi:</label>
            <select class="js-example-basic-multiple" id="customer" asp-items="@Model.customers" style="display:none;"></select>
        </div>
    </div><div class="col-md-4">
        <div class="form-group">
            <label for="sel1">Cihaz Seçimi:</label>
            <select class="js-example-basic-multiple" @*name="devices[]" *@ multiple="multiple" id="devices" asp-items="@Model.devices" style="width:200px;display:none;"></select>
        </div>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-info" onclick="filterData()">Verileri Süz</button>
    </div>

</div>

<div class="row" id="charts">
    <div id="customerReport" style="width:1200px; height:400px; display:none;"></div>
    @for (int i = 0; i < Model.devices.Count; i++)
    {

        <div id="main+@i" style="width:1200px; height:400px; display:none;"></div>
    }
    @*<canvas id="myChart" width="1000" height="400"></canvas>*@
</div>

@section Scripts{
    <script src="~/js/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>

        $(document).ready(function () {
            $('#devices').select2();
            $('#customer').select2();
        });

    </script>
}
