﻿@{
    ViewData["Title"] = "ReportPaper";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var model = Model;
}
<h2>Index</h2>
<div class="row" style="display:none" id="alertBox">
    <div class="alert alert-danger" role="alert">
        A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="sel1">Müşteri Seçimi:</label>
            <select class="form-control" id="customer" asp-items="@Model.customers"></select>
        </div>
    </div><div class="col-md-4">
        <div class="form-group">
            <label for="sel1">Cihaz Seçimi:</label>
            <select class="js-example-basic-multiple" name="devices[]" multiple="multiple" id="devices" asp-items="@Model.devices" style="width:200px;"></select>
        </div>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-info" onclick="filterData()" style="margin-top:25px;">Verileri Süz</button>
    </div>

</div>

<div class="row">
    <div id="main" style="width:1200px; height:400px;"></div>
    @*<canvas id="myChart" width="1000" height="400"></canvas>*@
</div>

@section Scripts{
    <script src="~/js/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>*@
    <script>
        $().ready(function () {
            var data =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.data) as String);
            var date =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.date) as String);
            if (data != null && date != null) {
                 drawChart(datas, dates, customerName, deviceIp);
            }
        })
    </script>

}